<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link rel="stylesheet" href="CSS/header.css" />
  </head>
  <body>
      <header class="header">
        <h1 class="header_title">Канбан-доска</h1>
        <div class="header__user">
          <img src="img/Аватарка.png" alt="Аватар" class="user_avatar" />
          <span class="user_name">user name</span>
          <span class="user_logOutBtn">▼</span>
          <div class="user__logOut user__logOut-close">
            <img src="img/Exit.svg" alt="" />
            <span class="logOut_title"> Выйти</span>
          </div>
        </div>
      </header>
  </body>
</html>
