<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Template</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/header.css" />
    <link rel="stylesheet" href="style/task.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <h1 class="header_title">Канбан-доска</h1>
      <div class="header__user">
        <img src="img/Avatar.png" alt="Аватар" class="user__avatar" />
        <span class="user__name">user name</span>
        <span class="user__logOutBtn">▼</span>
        <div class="user__logOut user__logOut-close">
          <img src="img/Exit.svg" alt="Иконка выхода" />
          <span class="logOut__title">Выйти</span>
        </div>
      </div>
    </header>
    <div class="tasks">
      <div class="task backlog">Сделать домашку</div>
      <div class="task inProgress">Сделать домашку</div>
      <div class="task ready">Сделать домашку</div>
      <div class="task trashCan">Сделать домашку</div>
    </div>
  </body>
</html>
