:root {
  --main-color: #2f72e5;
  --editing-color: #4280ea;
  --red-color: #b74e5f;
  --backlog-color: #dfdfdf;
  --inProgress-color: #d1e2f8;
  --ready-color: #d3fddc;
  --trashCan-color: #f7dbdb;
  --trashCanBtn-color-focus: #be4155;
  --noTasks-color: #a1a1a1;
  --disabledBtn-color: #d8d8d8;
  --newTaskName-color: #cecece;
  --radius-size-small: 6px;
  --radius-size-editing: 4px;
  --font-bold: 600;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  min-height: 100vh;
  background-color: #ebf3fa;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: white;
}
