:root {
  --main-color: #2f72e5;
  --logout-color: #b74e5f;
  --backlog-color: #dfdfdf;
  --inProgress-color: #d1e2f8;
  --ready-color: #d3fddc;
  --trashCan-color: #f7dbdb;
  --noTasks-color: #a1a1a1;
  --radius-size-small: 6px;
  --radius-size-medium: 20px;
  --font-size-large: 40px;
  --font-size-big: 36px;
  --font-size-signInBtn: 28px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  min-height: 100vh;
  background-color: #EBF3FA;
}

main {
  flex-grow: 1;
}
