.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 72px;
  width: 280px;
  padding: 20px;
  gap: 10px;
  background-color: white;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
  border-radius: var(--radius-size-small);
  border-width: 0 0 0 6px;
  border-style: solid;
  font-weight: var(--font-bold);
  cursor: move;
}

.main__tasks {
  font-weight: var(--font-bold);
}

.task_dragndrop {
  opacity: 0.5;
}

.task__icon {
  width: 16px;
  height: 16px;
  stroke: black;
  padding: 6px;
  box-sizing: content-box;
  visibility: hidden;
  flex-shrink: 0;
  cursor: pointer;
}

.task__icon:hover {
  border-radius: var(--radius-size-small);
  background-color: rgba(206, 206, 206, 0.25);
}

.task:hover .task__icon {
  visibility: visible;
}

.task__text {
  outline: none;
}

.task_editing .task__text {
  flex-grow: 1;
  outline: 1px solid var(--editing-color);
  border-radius: var(--radius-size-editing);
  cursor: auto;
}

.task_editing .task__icon {
  background-color: #d1e2f8;
  stroke: var(--editing-color);
  border-radius: var(--radius-size-editing);
  visibility: visible;
}

.tasks__list_backlog .task {
  border-color: var(--backlog-color);
}

.tasks__list_in-progress .task {
  border-color: var(--in-progress-color);
}

.tasks__list_ready .task {
  border-color: var(--ready-color);
}

.tasks__list_trash-can .task {
  border-color: var(--trash-can-color);
}

.trash-can__btn {
  font-weight: var(--font-bold);
}

.task_no-tasks.task,
.task_dragging.task {
  background-color: initial;
  border: 2px dashed var(--noTasks-color);
  color: var(--noTasks-color);
  cursor: default;
}
