@import url("root.css");

.task {
  box-sizing: border-box;
  width: 280px;

  padding: 20px;

  background-color: white;
  border-radius: var(--radius-size-small);
  border-width: 0 0 0 6px;
  border-style: solid;

  font-weight: 600;

  /* убрать на странице */
  margin: 40px 200px;
}

.backlog {
  border-color: var(--backlog);
}

.inProgress {
  border-color: var(--inProgress);
}

.ready {
  border-color: var(--ready);
}

.trashCan {
  border-color: var(--trashCan);
}
